<div class="col-xs-4">
  <img src="images/bee.jpg" class="image-reel""></a>
</div>

<div class="col-xs-4">
  <center><h3>Login with <a class="btn btn-info" ng-click="loginGoogle()"><i style="font-size:24px" class="fa">&#xf1a0;</i></a></h3>
  <br>
  
  <h4>-OR-</h4>
  <br>
  <h4>Enter your info here:</h4>
  <br>
  <div>
      <h5>Email:</h5>
      <input type="text" autofocus="true"  ng-model="account.email">
  </div>
  <br>
  <div>
      <h5>Password:</h5>
      <input type="password" ng-model="account.password">
  </div>
  <br>
  <div>
      <button class="btn btn-default" ng-click="login()">Login</button>

      <button class="btn btn-default" ng-click="register()">Register</button>
  </div></center>
</div>

<div class="col-xs-4"></div>

